services:
  haven:
    container_name: haven
    image: sudocarlos/haven:latest
    build: .
    env_file: .env
    ports:
      - 3355:3355
    volumes:
      - ./data/blossom:/haven/blossom
      - ./data/db:/haven/db
      - ./relays_blastr.json:/haven/relays_blastr.json
      - ./relays_import.json:/haven/relays_import.json
      - ./data/tor:/var/lib/tor
    restart: unless-stopped
    init: true
    healthcheck:
      test: ["CMD", "curl", "-sf", "http://localhost:3355"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    deploy:
      resources:
        limits:
          # https://docs.docker.com/reference/compose-file/deploy/#memory
          memory: 2GB
